$bg-darkgrey: #272728;
$bg-white: #ffffff;
$bg-green: #82c1a8;


$text-white: #ffffff;
$text-black: #000000;
$text-darkgrey: #272728;
$text-grey: #9fa1a1;
$text-green: #61ab86;
$text-greygreen: #b2c9c1;
$text-lightgreen: #c4d9d1;


$icon-white: #ffffff;
$icon-black: #000000;
$icon-grey: #bdc5cf;
$icon-green: #61ab86;


$button-green: #5aa183;
$button-darkgrey: #272728;
